body {
    background-color: #000;
    color: #00ff00;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 20px;
}

#terminal {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#header {
    white-space: pre-wrap;
}

#output {
    white-space: pre-wrap;
    overflow-y: auto;
    flex-grow: 1;
}

#output pre {
    margin: 0;
    font-family: inherit;
}

.input-line {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
}

.prompt {
    margin-right: 8px;
}

.prompt-admin {
    color: #ff6347;
}

#input {
    background: transparent;
    border: none;
    color: #00ff00;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    padding: 0;
    margin: 0;
}

#input:focus {
    outline: none;
}

.product-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #333;
    padding: 10px;
    margin-top: 5px;
    background-color: #050505;
}

.product-text-details {
    flex-grow: 1;
    white-space: pre-wrap;
}

.product-image {
    max-width: 150px;
    max-height: 150px;
    margin-left: 20px;
    border: 1px solid #00ff00;
    background-color: #222;
}

.error {
    color: #ff4136;
}
.success {
    color: #32cd32;
}
.info {
    color: #00ffff;
}
.loading {
    color: #fdfd96;
}
